<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1><%= title %></h1>
        <input type="text" placeholder="Paste a link to shorten it!" id="longUrl"><br/>
        <input type="submit" value="Shorten" id="submitButton"><br/>
        <input type="text" id="shortUrl" style="display:none;" onclick="this.focus(); this.select();" readonly>
        <div class="error-message" id="error" style="display:none;"></div>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('/');

            $(document).ready(function() {
                // Perform a click on submit button when user hit Enter on url text
                $('#longUrl').keypress(function(e) {
                    if (e.keyCode == 13) {
                        $('#submitButton').click();
                    }
                });

                // Request for shortened url from back-end
                $('#submitButton').click(function() {
                    $('#error').text('');
                    socket.emit('shorten', $('#longUrl').val(), function(err, shortUrl) {
                        if (err) {
                            // Show error, hide short url
                            $('#error').text(err).fadeIn('fast');
                            $('#shortUrl').val('').slideUp('fast');
                        } else {
                            // Show short url, hide error
                            $('#error').text('').fadeOut('fast');
                            $('#shortUrl').val(shortUrl).slideDown('fast');
                        }
                    });
                });
            });
        </script>
    </body>
</html>
