body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.shorten-index {
    text-align: center;
}

a {
    color: #0645AD;
}

input[type=text] {
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

input#longUrl {
    width: 75%;
}

input#shortUrl {
    width: 250px;
}

input[type=submit] {
    margin: 10px;
    box-sizing: border-box;
    font-size: 18px;
}

.error-message {
    color: red;
}

table {
    margin-top: 20px;
    width: 100%;
}

th {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

td {
    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

tr.content-row:hover {
    background: gold;
}

tr.header-row {
    background: black;
    color: white;
}
